
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow get, list: if isOwner(userId);
      allow create: if isOwner(userId) && request.resource.data.id == userId;
      allow update: if isOwner(userId);
      allow delete: if isOwner(userId);

      match /projects/{projectId} {
        allow get, list: if isOwner(userId);
        allow create: if isOwner(userId);
        allow update: if isOwner(userId);
        allow delete: if isOwner(userId);
      }
    }

    match /published_sites/{subdomainName} {
      allow read, get: if true;
      allow list: if isSignedIn() && (resource.data.customerEmail == request.auth.token.email);
      allow create: if true;
      allow update: if (resource.data.status == 'pending') || (isSignedIn() && (resource.data.customerEmail == request.auth.token.email));
      allow delete: if isSignedIn() && (resource.data.userId == request.auth.uid || resource.data.customerEmail == request.auth.token.email);

      match /media/{mediaId} {
        allow read, get: if true;
        allow write, create, update, delete: if true; // Permitido durante o fluxo de criação anônima
      }
    }
  }
}
